<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--mybatis核心配置文件-->
<configuration>
    <!--引入外部配置文件(优先使用)-->
    <properties resource="db.properties">
        <!--优先级较低,若外部配置与property标签配置有同一个字段,则优先使用外部配置文件的-->
        <property name="password" value="111111"/>
    </properties>
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <!--<setting name="logImpl" value="LOG4J"/>-->
    </settings>
    <!--别名-->
    <typeAliases>
        <typeAlias type="com.phc.pojo.Student" alias="Student" />
        <typeAlias type="com.phc.pojo.Teacher" alias="Teacher" />
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <!--绑定接口-->
    <mappers>
<!--        <mapper class="com.phc.dao.StudentMapper" />-->
        <mapper resource="com.phc.dao/StudentMapper.xml" />
        <mapper resource="com.phc.dao/TeacherMapper.xml" />
    </mappers>
</configuration>
