<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace:绑定一个Dao/Mapper接口,这里是绑定UserMapper接口-->
<mapper namespace="com.phc.dao.UserMapper">

    <!--select查询语句,id对应namespace中接口里的方法名,resultType对应返回值的类型-->
    <select id="getUserList" resultType="com.phc.pojo.User" >
        select * from mybatis.user;
    </select>

    <!--parameterType:方法参数类型-->
    <select id="getUserById" parameterType="int" resultType="com.phc.pojo.User" >
        select * from mybatis.user where id=#{id};
    </select>

    <!--增:sql为insert时标签也需要为insert-->
    <insert id="addUser" parameterType="com.phc.pojo.User">
        <!--对象中的属性可以直接取出来-->
        insert into mybatis.user(id,name,pwd) values (#{id},#{name},#{pwd});
    </insert>

    <!--改-->
    <update id="updateUser" parameterType="com.phc.pojo.User" >
        update mybatis.user set name=#{name},pwd=#{pwd} where id=#{id};
    </update>

    <!--删-->
    <delete id="deleteUser" parameterType="int" >
        delete from mybatis.user where id=#{id};
    </delete>

</mapper>
